{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Intern Placement Engine Home</title>
    <link rel="stylesheet" href="{% static 'matcher/styles.css' %}" />
  </head>
  <body>
    <h1>Welcome to the Intern Placement Engine!</h1>

    <div class="step step1">
      <h2 class="stepTitle">Step One: Upload the employer file here</h2>
      <div class="stepBody">
        <img
          src="{% static 'matcher/images/curved_arrow.png' %}"
          alt="Curved Arrow"
          class="curved_arrow"
        />
        <form
          method="post"
          enctype="multipart/form-data"
          action="{% url 'upload_employer' %}"
        >
          {% csrf_token %}

          <input
            type="file"
            name="file"
            id="employerFileInput"
            style="display: none"
            onchange="this.form.submit()"
          />

          <button
            type="button"
            onclick="document.getElementById('employerFileInput').click()"
            class="fileButton"
          >
            Upload file
          </button>
        </form>
        {%if employerFileName %}
        <p class="fileName">Uploaded "{{employerFileName}}"</p>
        <form method="get" action="{% url 'clear_employer_file' %}">
          <button class="clearButton" type="submit">X</button>
        </form>
        {%endif%}
      </div>
    </div>

    <div class="step step2">
      <h2 class="stepTitle">Step Two: Upload the student file here</h2>
      <div class="stepBody">
        <form
          method="post"
          enctype="multipart/form-data"
          action="{% url 'upload_student' %}"
        >
          {% csrf_token %}

          <input
            type="file"
            name="file"
            id="studentFileInput"
            style="display: none"
            onchange="this.form.submit()"
          />

          <button
            type="button"
            onclick="document.getElementById('studentFileInput').click()"
            class="fileButton"
          >
            Upload file
          </button>
        </form>
        <img
          src="{% static 'matcher/images/curved_arrow.png' %}"
          alt="Curved Arrow"
          class="curved_arrow"
        />
        {%if studentFileName %}
        <p class="fileName">Uploaded "{{studentFileName}}"</p>
        <form method="get" action="{% url 'clear_student_file' %}">
          <button class="clearButton" type="submit">X</button>
        </form>
        {%endif%}
      </div>
    </div>

    <div class="step step3">
      <h2 class="stepTitle">
        Step Three: Click this button and watch the magic happen
      </h2>
      <div class="stepBody">
        <img
          src="{% static 'matcher/images/curly_arrow.png' %}"
          alt="Curly Arrow"
          class="curly_arrow"
        />
        <form method="get" action="{% url 'generate_report' %}">
          <button type="submit">Generate Report</button>
        </form>
        {%if error%}
        <p class="errorMessage">{{error}}</p>
        {%endif%}
      </div>
    </div>
  </body>
</html>
