{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link rel="stylesheet" href="{% static 'matcher/styles.css' %}" />
  </head>
  <body class="reportBody">
    <a href="/">Return Home</a>
    <h1>The Report</h1>
    <div class="matches">
      <h2>Matches</h2>
      <div>
        {% for company, data in matches.items %}
        <p class="reportData">
          {{ company }} ({{data.capacity}}) → {{ data.students|join:", " }}
        </p>
        {% endfor %}
      </div>
    </div>
    <div class="potentialMatches">
      <h2>Potential Matches</h2>
      <p class="potential_matches_desc">
        This is a list of possible matches where the employer had open spot(s)
        that were not initially filled and they listed a student in their
        rankings that did not get matched with a company. This ignores the
        student's top ten list since it did not get them a match, and gives them
        an opportunity to go with a company that wants them.
      </p>
      <div class="potential_matches_list">
        {% for company, data in potential_matches.items %}
        <p class="reportData">
          {{ company }} has {{data.open_spots}} open spot(s) <br />
          Possible Students: <br />
          {{data.students|join:", "}}
        </p>
        {% endfor %}
      </div>
      <div class="no_matches_body">
        <div class="no_matches_students">
          <h3>Unmatched Students</h3>
          <ul>
            {% for student in unmatched_students %}
            <li class="reportData">{{ student }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="no_matches_companies">
          <h3>Unmatched Companies</h3>
          <ul>
            {% for company in unmatched_companies %}
            <li class="reportData">{{ company }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <a class="download_report" href="{% url 'download_report' %}">
      <button>Download Report</button>
    </a>
  </body>
</html>
