{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link rel="stylesheet" href="{% static 'matcher/styles.css' %}" />
  </head>
  <body class="reportBody">
    <a href="/">Return Home</a>
    <h1>The Report</h1>
    <div class="matches">
      <h2>Matches</h2>
      <div>
        {% for student, companies in matches.items %}
        <p class="reportData">{{ student }} → {{ companies|join:", " }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="potentialMatches">
      <h2>Potential Matches</h2>
      <div></div>
    </div>
  </body>
</html>
